[Unit]
Description=PHP services

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/root/bin/php.sh start
ExecStop=/root/bin/php.sh stop
ExecReload=/root/bin/php.sh reload

