#! /bin/bash


TITLES[1]="ubuntu"
PREFIXES[1]=""

TITLES[2]="ubuntu fr"
PREFIXES[2]="fr."

TITLES[3]="dedicated"
PREFIXES[3]="dedicated.fr/"

TITLES[4]="local via dedicated mirror"
PREFIXES[4]="local.home.kg/apt-mirror/dedicated.fr/"

